@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    font-family: "Lobster";
    background-color: rgb(166, 115, 85);
    color:rgb(74, 60, 60);
    text-align: center;
    
}
 .header {
    border-bottom: 3px solid rgb(242, 239, 237);
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .books {
    width: 90%;
    height: 60vh;
    padding: 50px;
    border: 4px solid rgb(242,239,237);
    margin: 20px;
    border-radius: 10px ;
    justify-content: space-evenly;
    
 }

 

