@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    font-family: "Lobster";
    background-color: rgb(208, 185, 208);
    color:rgb(253, 253, 253);
    text-align: center;
    
}
 .header {
    border-bottom: 3px solid rgb(143, 82, 128);
 }

 .books {
    width: 90%;
    height: 60vh;
    padding: 50px;
    border: 4px solid violet;
    margin: 20px;
    border-radius: 10px ;
    
 }