body {
    font-family: "Lobster";
    background-color: rgb(166, 115, 85);
    color:rgb(74, 60, 60);
}

.header a{
    color: rgb(11, 11, 11);
    background-color: rgb(74, 60, 60);
    padding: 15px;
    text-decoration: none;
    border-radius: 20px;
    
    
}

.header a:hover {
    color: aliceblue;
    transition: 2s;
}

.online-book{
    display: flex;
    justify-content: left;
    align-items: center;
}